{% extends 'base.html.twig' %}

{% block title %}💤 Naplify{% endblock %}

{% block body %}

    <style>
        body {
            background: #DFFFD6;
            font: 18px/1.5 sans-serif;
            margin: 0;
        }
        .wrapper {
            margin: 1em auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>

    <div class="wrapper">
        <h1>Welcome to Naplify 👋</h1>

        <br>

        <form action="{{ path('index') }}" method="post">
            <label for="napLength"></label><input type="range" id="napLength" name="napLength" min="20" max="30" value="25" oninput="updateTime(this.value)">
            <span id="lengthValue">25 minutes</span>
            <input type="hidden" name="_token" value="{{ csrf_token('slider_form') }}">
            <button type="submit">Submit</button>
        </form>

        <script>
            function updateTime(value) {
                document.getElementById('lengthValue').textContent = value + ' minutes';
            }
        </script>
    </div>

{% endblock %}
