{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body {
            background: #DFFFD6;
            font: 18px/1.5 sans-serif;
            margin: 0;
            padding: 1em;
        }
        .wrapper {
            max-width: 600px;
            margin: 1em auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1em;
        }
        h1 {
            font-size: 1.5em;
            text-align: center;
        }
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        form div {
            margin-bottom: 2em;
            text-align: center;
            width: 100%;
        }
        input[type="range"] {
            width: 100%;
        }
        button {
            padding: 0.75em 1.5em;
            font-size: 1.1em;
            cursor: pointer;
            width: 100%;
        }
    </style>

    <div class="wrapper">
        <h1>🛏️✨
            <br>
            Welcome to Naplify
        </h1>

        <br>

        <form action="{{ path('index') }}" method="post">
            <div>
                <label for="napLength"></label>
                <input type="range" id="napLength" name="napLength" min="20" max="30" value="25" oninput="updateMinutes()">
                <span id="lengthValue">25 minutes</span>
            </div>
            <div>
                <input type="hidden" name="_token" value="{{ csrf_token('slider_form') }}">
                <button type="submit">Nap 😴</button>
            </div>
        </form>

        <script>
            function updateMinutes() {
                const napLengthInput = document.getElementById('napLength').value;
                const napLengthDisplay = document.getElementById('lengthValue');

                napLengthDisplay.innerText = `${napLengthInput} minutes`;
            }
        </script>
    </div>

{% endblock %}
